body {
    font-family: Arial, sans-serif;
    background-color: #F0EEEA;
    color: black;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Card Styling (INDEX PAGE) */
.card {
    padding: 20px;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* Button Styling (ALL PAGES) */
.button-container {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* animal_detail.html */
.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    background: #ccc;
    padding: 8px 12px;
    border-radius: 8px;
    color: black;
}

.cardAnimalDetailed {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}